<h1>Home#index</h1>
<div class="ui grid relaxed">
  <div class="three column row">
    <div class="column segment j-box">Doctors</div>
    <div class="column segment j-box">Patients</div>
    <div class="column segment j-box">Appointments</div>
  </div>
</div>
